.post-list-1 {
    background-color: burlywood;
}

.post-list-2 {
    background-color: blueviolet;
}

.post {
    border: 1px solid;
    padding-bottom: 0;
    margin: 5px;
    background-color: antiquewhite;
}
